## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.csproj.user
*.dbmdl
*.jfm

## JetBrains Rider
.idea/
*.sln.iml
_ReSharper*/

## NuGet
packages/
*.nupkg
nuget.exe
**/[Pp]ackages/*

## VS Code
.vscode/

## OS files
.DS_Store
Thumbs.db
